# Операционные файлы
*.log
*.pot
*.pyc
*.pyo
*.swp
*.swo
.idea/



# Виртуальное окружение
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd



# Файлы с конфиденциальными данными
.env
config/settings_local.py  # если используешь локальные настройки