{% extends 'base.html' %}
{% load static %}
{% block title %}
  {{ employee.name }}
{% endblock %}
{% block content %}
<div class="employee-container">
  <a href="{% url 'staff' %}" class="back-link">Назад к сотрудникам</a>
  <h3 class="employee-title">
    {{ employee.name }}
  </h3>
  {% if employee.photo %}
    <img class="employee-photo" src="{% static employee.photo %}" alt="Фото сотрудника">
  {% else %}
    <img class="employee-photo" src="/static/default-avatar.jpg" alt="Фото отсутствует">
  {% endif %}
  <p class="employee-description">
    {{ employee.description }}
  </p>
</div>
{% endblock %}
