{% extends 'base.html' %}
{%load static%}
{% block title %}
Сотрудники
{% endblock %}
{% block content %}
  <div class="staff-container">
    <h1 class="comments-header">Сотрудники</h1>
    <ul class="staff-list">
      {% for employee in staff %}
        <li class="staff-item">
          <h3><a href="{% url 'employee_more' employee.slug %}">{{ employee.name }}</a></h3>
          <p>{{ employee.position.name }}</p>
        </li>
      {% endfor %}
    </ul>

  </div>
{% endblock %}
{%block navigation%}
{% if is_paginated %}
<nav class="list-pages">
  <ul>
    {% if page_obj.has_previous %}
      <li class="page-num"><a href="?page={{ page_obj.previous_page_number }}">&lt;</a></li>
    {% endif %}

    {% for p in paginator.page_range %}
      {% if page_obj.number == p %}
        <li class="page-num page-num-selected">{{ p }}</li>
      {% elif p >= page_obj.number|add:"-2" and p <= page_obj.number|add:"2" %}
        <li class="page-num"><a href="?page={{ p }}">{{ p }}</a></li>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <li class="page-num"><a href="?page={{ page_obj.next_page_number }}">&gt;</a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}

{%endblock%}
