{% extends 'base.html' %}
{% block title %}
    Вакансии
{% endblock %}
{% block content %}
<div class="vacancies-container">
    <h1 class="vacancies-header">Доступные вакансии</h1>

    {% if vacancies %}
        <ul class="vacancies-list">
            {% for vacancy in vacancies %}
               <li class="vacancy-item">
                   <a href="{% url 'vacancy_more' vacancy.id %}">{{ vacancy.position.name }}</a>
               </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="no-vacancies">На данный момент вакансий нет.</p>
    {% endif %}
    <h1 class="vacancies-header">Резюме</h1>
    <form class="auth" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Отправить</button>
    </form>
</div>


{% endblock %}
{%block navigation%}
{% if is_paginated %}
<nav class="list-pages">
  <ul>
    {% if page_obj.has_previous %}
      <li class="page-num"><a href="?page={{ page_obj.previous_page_number }}">&lt;</a></li>
    {% endif %}

    {% for p in paginator.page_range %}
      {% if page_obj.number == p %}
        <li class="page-num page-num-selected">{{ p }}</li>
      {% elif p >= page_obj.number|add:"-2" and p <= page_obj.number|add:"2" %}
        <li class="page-num"><a href="?page={{ p }}">{{ p }}</a></li>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <li class="page-num"><a href="?page={{ page_obj.next_page_number }}">&gt;</a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}

{%endblock%}