{% extends 'base.html' %}
{% block title %}
    Вакансии
{% endblock %}
{% block content %}
<div class="vacancies-container">
    <h1 class="vacancies-header">Доступные вакансии</h1>

    {% if vacancies %}
        <ul class="vacancies-list">
            {% for vacancy in vacancies %}
               <li class="vacancy-item">
                   <a href="{% url 'vacancy_more' vacancy.id %}">{{ vacancy.position.name }}</a>
               </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="no-vacancies">На данный момент вакансий нет.</p>
    {% endif %}
    <h1 class="vacancies-header">Резюме</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Отправить</button>
    </form>
</div>


{% endblock %}
