{% extends 'base.html' %}

{% block title %}
Отзывы
{% endblock %}

{% block content %}
<div class="comment-container">
    <h1 class="comments-header">Комментарии</h1>

    <!-- Форма для добавления комментария -->
    <form method="POST" action="{% url 'comments' %}" enctype="multipart/form-data" class="comment-form">
        {% csrf_token %}
        <div class="form-error">{{ form.non_field_errors }}</div>

        {% for field in form %}
            <p>
                <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}:</label>
                {{ field }}
            </p>
            <div class="form-error">{{ field.errors }}</div>
        {% endfor %}

        <button type="submit" class="comment-submit-button">Добавить комментарий</button>
    </form>

    <hr class="separator">

    <!-- Список комментариев -->
    <ul class="comments-list">
        {% for comment in comments %}
        

            {% if comment.is_active %}
                <li class="comment-item">
                    <strong class="comment-author">{{ comment.author }}</strong>
                    <span class="comment-date">({{ comment.date|date:"d.m.Y H:i" }})</span>:<br>
                    <p class="comment-text">{{ comment.text }}</p>

                    {% if comment.image %}
                        <img src="{{ comment.image.url }}" alt="Изображение комментария" class="comment-image" width='250', height='200'>
                    {% endif %}

                    {% comment %} <div class="comment-actions">
                        <a href="{% url 'edit_comment' comment.id %}" class="edit-comment">Редактировать</a> |
                        <a href="{% url 'delete_comment' comment.id %}" class="delete-comment" onclick="return confirm('Удалить комментарий?')">Удалить</a>
                    </div> {% endcomment %}
                    {% if comment.author == user or perms.comments.change_comment %}
          <div class="comment-actions">
            <a href="{% url 'edit_comment' comment.id %}" class="edit-comment">Редактировать</a>
          </div>
          {% endif %}
          {% if comment.author == user or perms.comments.delete_comment %}
          <div class="comment-actions">
            <a href="{% url 'delete_comment' comment.id %}" class="delete-comment" onclick="return confirm('Удалить комментарий?')">Удалить</a>
          </div>
                </li>
            {% endif %}
            
        {% endif %}
        {% empty %}
            <li class="no-comments">Комментариев пока нет.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block navigation %}
{% if is_paginated %}
<nav class="list-pages">
  <ul>
    {% if page_obj.has_previous %}
      <li class="page-num"><a href="?page={{ page_obj.previous_page_number }}">&lt;</a></li>
    {% endif %}

    {% for p in paginator.page_range %}
      {% if page_obj.number == p %}
        <li class="page-num page-num-selected">{{ p }}</li>
      {% elif p >= page_obj.number|add:"-2" and p <= page_obj.number|add:"2" %}
        <li class="page-num"><a href="?page={{ p }}">{{ p }}</a></li>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <li class="page-num"><a href="?page={{ page_obj.next_page_number }}">&gt;</a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}

{%endblock%}