{% extends 'base.html' %}

{% block title %}
Редактирование
{% endblock %}

{% block content %}
    <h1 class="comments-header">Редактирование комментария</h1>

    <form method="POST" class="edit-comment-form">
        {% csrf_token %}
        <textarea name="text" required class="edit-comment-textarea">{{ comment.text }}</textarea><br>
        <button type="submit" class="edit-comment-submit">Сохранить изменения</button>
    </form>

    <a href="{% url 'comments' %}" class="back-to-comments-link">Назад к комментариям</a>
{% endblock %}
