{% extends "base.html" %}
{% load my_tags %}
{% load static %}
{% block title %}
Menu
{% endblock %}
{% block content %}
    <div class="container">
        <aside class="sidebar">
            <h2 class="comments-header">Теги</h2>
            <form method="get" action="">
                {% for tag in tags %}
                    <label class="dish_detail_category">
                        <input type="checkbox" name="tags" value="{{ tag.name }}"
                            {% if tag.name in selected_tags %}checked{% endif %}>
                        {{ tag.name }}
                    </label><br>
                {% endfor %}
                <button type="submit">Применить</button>
            </form>
            <h2 class="comments-header">Запись</h2>
            <form method="post" action="">
                {% csrf_token %}
                
                <div class="form-error">{{ form.non_field_errors }}</div>
            
                {% for field in form %}
                    <p>
                        <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}:</label>
                        {{ field }}
                    </p>
                    <div class="form-error">{{ field.errors }}</div>
                {% endfor %}
            
                <button type="submit">Записаться</button>
            </form>
            
        </aside>
        
        <main class="content">
            <h1 class="comments-header">Меню</h1>
            <ul class="menu">
                {% for dish in dishes %}
                    <li class="dish">
                        <img width="400px" height="300px" src="{% static dish.photo %}" alt="Фото блюда"><br>
                        <a href="{% url 'dish_detail' dish.name %}">{{ dish.name|capfirst }}</a>
                    </li>
                {% endfor %}
            </ul>
            
            {% random_dish as rd %}
            <ul class="menu">
                <li class="dish">
                    Случайное блюдо<br>
                    <img width="400px" height="300px" src="{% static rd.photo %}" alt="Фото блюда"><br>
                    <a href="{% url 'dish_detail' rd.name %}">{{ rd.name|capfirst }}</a>
                </li>
            </ul>
        </main>

        
    </div>
{% endblock %}
{%block navigation%}
{% if is_paginated %}
<nav class="list-pages">
  <ul>
    {% if page_obj.has_previous %}
      <li class="page-num">
        <a href="?{% if request.GET.tags %}{% for tag in request.GET.tags %}tags={{ tag }}&{% endfor %}{% endif %}page={{ page_obj.previous_page_number }}">&lt;</a>
      </li>
    {% endif %}

    {% for p in paginator.page_range %}
      {% if p == page_obj.number %}
        <li class="page-num page-num-selected">{{ p }}</li>
      {% elif p >= page_obj.number|add:"-2" and p <= page_obj.number|add:"2" %}
        <li class="page-num">
          <a href="?{% if request.GET.tags %}{% for tag in request.GET.tags %}tags={{ tag }}&{% endfor %}{% endif %}page={{ p }}">{{ p }}</a>
        </li>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <li class="page-num">
        <a href="?{% if request.GET.tags %}{% for tag in request.GET.tags %}tags={{ tag }}&{% endfor %}{% endif %}page={{ page_obj.next_page_number }}">&gt;</a>
      </li>
    {% endif %}
  </ul>
</nav>
{% endif %}

{% endblock %}
