{% extends "base.html" %}
{% load my_tags %}
{% load static %}
{% block title %}
Menu
{% endblock %}
{% block content %}
    <h1 class="comments-header">Меню</h1>
        <ul class="menu">
            {% for dish in dishes %}
                <li class="dish">
                    <img width="400px" height="300px" src="{% static dish.photo %}" alt="Фото блюда"><br>
                        <a href="{% url 'dish_detail' dish.name %}">{{ dish.name|capfirst }}</a>
                </li>
            {% endfor %}
        </ul>
        {% random_dish as rd%}
            <ul class="menu">
                <li class="dish">
                    Случайное блюдо<br>
                    <img width="400px" height="300px" src="{% static rd.photo %}" alt="Фото блюда"><br>
                    <a href="{% url 'dish_detail' rd.name %}">{{ rd.name|capfirst }}</a>
                </li>
            </ul>

{% endblock %}
